*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{text-decoration: none;color: #fff;}

/* HEADER STARST */
.navbar{
    width: 100%;
    height: 50px;
    background-color: #161638;
    line-height: 50px;
    color: #fff !important;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin-left: 136px;
}
.navbar ul li{
    font-weight: 500;
    margin: 0px 10px;
}
.navbar ul li a:hover{
    color: #d66a42;
}
.navbar ul li img{
    padding-top: 12px;
}
.ul2{
    padding-left: 140px !important;
}
.ul2 img{
    margin-top: 6px;
}
.or{color: #df7048 !important;}
/* BANNER STARTS */
.banner{
    width: 100% !important;
    height: 600px !important;
    background: linear-gradient(rgba(255, 255, 255, 0.05),rgba(255, 255, 255, 0.05)),
    url(../img/wallpaperflare-cropped.jpg);
    background-size: 100% 100%;
}
.banner .content1{
    position: absolute;
    top:166px;left:153px;
    font-size: 50px;
}
.banner .content1 .slm , h6{
    color: #131212;
    font-weight: 100 !important;
}
.banner img{width: 100%;}
.banner h6{
    padding-top: 9px;}
.banner .content2{
    position: absolute;
    top:477px;left:93px;
}
.banner .content2 {
    background-color: hsl(300, 78%, 18%,0.9);
    padding: 3px 12px;
    padding-bottom: 12px;
    margin-left: 70px;
}
.banner .content2 ul li:hover{
    background-color: hsl(340, 99%, 48%) !important;
 }
.banner .content2 table tr td input[type="text"]{
padding: 12px;
}
.banner .content2 table tr td input[type="date"]{
padding: 10px;color: #8b8889;
}
.banner .content2 table tr td input[type="checkbox"]{
   background-color: #500a50 !important;
}
.banner .content2 ul{
    list-style: none;
    display: flex;
    color:#fff;
}
.banner .content2 ul li{
   padding: 9px 19px;
}
.banner .content2 table .search{
    background-color: hsl(340, 99%, 48%,0.9);
    color: white;
    border-radius: 50%;
    padding:24px 9px;
    margin: 0px 6px;
}
.banner .content2 form{
    padding: 0px !important;
    margin: 0px !important;
}
.banner .content2 table tr td{
    color: #fff;
}
.tab{
    display: none;
}
.content2 table tr .un{
    border-bottom: 0.2px dotted !important;
}
.banner .content2 table tr td input .check{
    background-color: #500a50 !important;
}
/* PART2 STARTS */
.part2{
    background: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)),
    url(../img/Arizona\ dessert\ mountainjpg.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 360px;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 60px 100px;
}
.part2 p{
    font-size:24px;
}
.part2 .datas{
    display: flex;
    justify-content: center;
}
.block b{line-height: 20px;}
.block{
    width: 150px;
    height: 145px;
    background-color: hsl(0, 0%, 0%,0.7);
    /* opacity: 76%; */
    margin: 39px 15px 0px 15px;
    font-size: 13.5px;
    padding: 16px 0px 9px 0px;
}

/* PART3 STARTS */
.part3{
    background: linear-gradient(rgba(88, 51, 129, 0.6),rgba(88, 51, 129, 0.6)),
    url(../img/air.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 360px;
    color: #fff !important;}
.part3 .d{
    font-size: 24px;
    padding: 90px 215px 30px 200px;
    float: inline-end;
}
.part3 .d1{
    font-size: 17px;
    text-align: left;
    padding: 0px 100px;
    float: inline-end;
}
.part3 .d2{
    float: inline-end;
    padding: 30px 100px;
}
.part3 .data1 .d2 input[type="text"]{
    padding: 9px;
    background: transparent;
    border: 2px solid white;
    width: 520px;
    color: #fff;
}
.part3 .data1 .d2 ::placeholder{
    color: #fff;font-size: 16px;
}
.part3 .data1 button{
    padding: 11px 36px;
}
/* PART4 STARTS */
.part4{
    width: 100% !important;
    height: 860px;
    background-color: #33233d;
    color: #2e2c2c;
    padding: 0px 100px;
    justify-content: center;
}
.part4 .datas p{
    color: #fff;
    font-size: 24px;
    padding: 30px 0px 5px 0px;
    text-align: center;
    
}
.part4 table{
    /* text-align: center; */
    width: auto;
    height: auto;
    border-spacing: 24px;
    justify-content: center;
}
.part4 table td{
    background-color: #fff;
    padding: 3px 3px 10px 3px;
    text-align: left;
    border-radius: 3px;
}
.part4 table td img{border-radius: 2px;}
or{color: orange;}
.put{
    width: 240px;
    padding: 6px 0px 6px 12px;
}
/* PART5 STARTS */
.part5{
    background-color: #654dad;
    width: 100% ;
    height: 330px;
    color: #fff;
}
.part5 img{
    width: 365px;
    float: inline-end;
}
.part5 .q1{
    font-size: 34px;
    padding: 60px 0px 0px 100px;
}
.part5 .q2{
    font-size: 20px;
    padding: 12px 0px 0px 100px;
}
.part5 hr{
    height: 1.6px;
    margin: 12px 0px 0px 100px;
}
.part5 table{
    padding: 30px 0px 0px 100px;
}
.part5 table input[type="text"]{
    padding: 12px; width: 93%;
}
.part5 table input[type="date"]{
    padding: 11px;
}
.part5 table button{
    padding: 15px 15px;
    background-color: orange;
    border: 0px;width: 150px;
}
/* PART6 STARTS */
.part6{
    background-color: rgb(240, 236, 233);
    padding: 30px 110px;
    color: #2e2c2c;
    width: 100%;
}
.part6 .b1{
    font-size: 24px;
    padding-bottom: 5px;
    text-align: center;
}
.part6 .b2{
    font-size: 17px;
    padding: 20px 200px !important;
    text-align: center;
}
.dd{
    display: flex;
    padding: 3px;
    justify-content: center;
}
.pp1{padding: 6px 20px;}
.part6 hr{margin: 6px 20px;}
.pp2{font-size: 20px;padding: 6px 20px;}
.pp3{width:330px;padding: 6px 20px;}
.part6 .dd img{width: 190px;height: 180px;}
/* FOOTER STARTS */
footer{
    background:url(../img/Departure.jpg);
    font-size: 14px;
    width: 100%;
    height: auto;
    background-size: 100% 100%;
}
.list{
    display: flex;
    color: #fff;
    padding: 30px 100px;
    justify-content: center;}
footer .list ul{
    list-style: none;
    padding-right: 70px;
}
.list ul li{padding: 3px;}
g{color: #8b8889;}
footer .end{
    width: 100%;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    }
footer .text{padding-left: 0px;}
footer .end .done{padding-left: 15px;}
.end ul{
    list-style: none;
    display: flex;
    font-size: 17px;
    justify-content: center !important;
}
.end ul li{
    padding-top: 9px;
    padding-left: 14px;
} 
/* RESPONSIVE DIMENTIONS */
@media screen and (max-width:991px){
    .navbar{
        height: auto;
        line-height: normal;
        text-align: start;
        width: 100%;
        padding-left: 30px;
        padding-bottom: 30px;
    }
    .navbar .logo{
        width: 260px !important;
    }
    .navbar ul{
        display: inline-block;
        margin-left:0px !important;
    }
    .navbar ul li{
        margin: 0px 0px !important;
    }
    .navbar .ul2{
        padding-left: 0px !important;
        position: absolute;top: 66px;
        left: 160px;
    }
    .banner{
        width: 100% !important;
        height: auto !important;
    }
    .banner .content1{
        position: absolute;
        top:210px;left: 10px;
        font-size: 36px;
    }
    .banner .content2{
        position: absolute;
        top:336px;left:10px ;
        margin-left: 0px !important;
        height: auto;width: 310px !important;
        padding: 9px 6px !important;
        padding-bottom: 10px !important;
    }
    .tac{display: none;}
    .banner .content2 ul{
        display: flex;
        text-align: center;
        width: 100%;
        font-size: 15px;
    }
    .banner .content2 .tab {
        display: block;
    }
    .banner .content2 .tab tr td{
        padding-left: 0px;}
    .banner .content2 table tr td input[type="text"]{
     padding: 12px;width: 100% !important;
    }
    .banner .content2 table tr td input[type="date"]{
        padding: 10px 12px;width: 100% !important;
       }
    .banner .content2 table tr td button{
        width: 100%;padding: 10px 0px;
        background-color: #f50152;
        color: #fff;font-size: 17px;
    }
    .banner img{
        width: 100% !important;
        height: 600px;
    }
    

   
}