@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition:all 0.5s ease-in-out;
}
a{
    text-decoration: none;
}
/* HEADER STARST */
.navbar{
    width: 100%;
    height: 50px;
    background-color: #161638;
    line-height: 50px;
    color: #fff !important;
}
.topnav{display: none;}
.navbar ul{
    display: flex;
    list-style: none;
    margin-left: 136px;
}
.navbar ul li{
    font-weight: 500;
    margin: 0px 10px;
}
.navbar ul li a{color: #fff;}
.navbar ul li a:hover{
    color: #d66a42;
}
.navbar ul li img{
    padding-top: 12px;
}
.ul2{
    padding-left: 140px ;
    cursor: pointer;
}
.ul2 img{
    margin-top: 6px;
}
.or{color: #df7048 !important;}
/* BANNER STARTS */
.banner{
    width: 100% !important;
    height: 600px !important;
    background: linear-gradient(rgba(255, 255, 255, 0.05),rgba(255, 255, 255, 0.05)),
    url(../img/wallpaperflare-cropped.jpg);
    background-size: 100% 100%;
}
.banner .content1{
    width: 100%;
    height: 420px;
    padding-left: 170px;
    padding-top: 130px;
}
.banner .content1 .heading{
    font-size: 39px;
}
.banner .content1 .subheading{
    font-size: 27px;
    padding-top: 6px;
    font-weight: 600;
}
.banner .content2 {
    width:999px;
    background-color: hsl(300, 78%, 18%,0.73);
    padding: 2px 6px;
    padding-bottom: 12px;
    margin: 0px auto;       
    display: flex;
    border-radius: 2px;
}
.banner .content2:hover {
    background-color: hsl(300, 78%, 18%,0.8);}
.content2 form label{display: none;}
.banner .content2 .switchButton button{
    border: 0px;
    color: #fff;
    width: 110px;
    padding: 10px 0px;
    background-color: #421f57;
    font-size: 16px;
}
.banner .content2 .switchButton button:hover{
    background-color: hsla(340, 83%, 47%) ;
}
.banner .content2 .switchButton .active{
    background-color: hsla(340, 83%, 47%) ;
    cursor: pointer;
 }
 .banner .content2 .searchForm,.switchButton{
    margin: 3px 0px;
 }
 .banner .content2 .lastrow{
    margin-top: 6px;
    color: #fff;
    display: flex;
 }
 .banner .content2 .lastrow .trip, .ticket{
    border-bottom: 1px dotted aquamarine;
    padding-right: 9px;
 }
 .banner .content2 .searchForm input{
    padding: 10px;width: 166px;
 }
 .banner .content2 .searchForm .passanger{
    padding: 12px;width: 166px;
 }
.banner .content2 .search{
    background-color: hsl(340, 99%, 48%,0.9) !important;
    border-radius: 50%;
    padding:37px 22px;
    cursor: pointer;
    margin: 12px;
    
}
.banner .content2 .search:hover{
    background-color: hsl(255, 38%, 49%,0.7) !important;
}
.banner .content2 .search a{color: #fff;}
/* PART2 STARTS */
.part2{
    background: linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7)),
    url(../img/Arizona\ dessert\ mountainjpg.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 360px;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 60px 100px;
    
}
.part2 p{
    font-size:24px;
}
.part2 .datas{
    display: flex;
    justify-content: center;
    }
.block b{line-height: 20px;}
.block{
    width: 150px;
    height: 145px;
    background-color: hsl(0, 0%, 0%,0.7);
    margin: 39px 15px 0px 15px;
    font-size: 13.5px;
    padding: 16px 0px 9px 0px;
    cursor: pointer;
    border-radius: 6px;
}
.part2 .datas .block:hover{background: hsl(255, 38%, 49%,0.6);}

/* PART3 STARTS */
.part3{
    background: linear-gradient(rgba(88, 51, 129, 0.6),rgba(88, 51, 129, 0.6)),
    url(../img/air.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 360px;
    color: #fff !important;}
.part3 .d{
    font-size: 24px;
    padding: 90px 215px 30px 200px;
    float: inline-end;
}
.part3 .d1{
    font-size: 17px;
    text-align: left;
    padding: 0px 100px;
    float: inline-end;
}
.part3 .d2{
    float: inline-end;
    padding: 30px 100px;
}
.part3 .data1 .d2 input[type="text"]{
    padding: 9px;
    background: transparent;
    border: 2px solid white;
    width: 520px;
    color: #fff;
}
.part3 .data1 .d2 ::placeholder{
    color: #fff;font-size: 16px;
}
.part3 .data1 button{
    padding: 11px 36px;
    border: 2px solid #fff;
}
.part3 .data1 button:hover{
    background: #654dad;
    color: #fff;
    border: 2px solid #654dad;
}
/* PART4 STARTS */
.part4{
    width: 100% !important;
    height: 860px;
    background-color: #33233d;
    color: #2e2c2c;
    padding:  0px 70px;
    justify-content: center !important;
}
.part4 .datas p{
    color: #fff;
    font-size: 24px;
    padding: 30px 0px 5px 0px;
    text-align: center;
}
.part4 table{
    width: auto;
    height: auto;
    border-spacing: 20px ;
}
.part4 table td{
    background-color: #fff;
    padding: 3px 3px 6px 3px;
    text-align: left;
    border-radius: 3px;
    vertical-align: top;
    cursor: pointer;
}
.part4 table td:hover{
    background-color: hsl(0, 0%, 100%,0.3);
}
.part4 table td img{
    border-radius: 2px;
}
or{
    color: orange;
}
.put{
    width: 247px;
    padding: 6px 3px 6px 9px;
}
/* PART5 STARTS */
.part5{
    background-color: #654dad;
    width: 100% ;
    height: 330px;
    color: #fff;
}
.part5 img{
    width: 365px;
    float: inline-end;
}
.part5 .q1{
    font-size: 34px;
    padding: 60px 0px 0px 100px;
}
.part5 .q2{
    font-size: 20px;
    padding: 12px 0px 0px 100px;
}
.part5 hr{
    height: 1.6px;
    margin: 12px 0px 0px 100px;
}
.part5 table{
    padding: 30px 0px 0px 100px;
}
.part5 table input[type="text"]{
    padding: 12px; width: 93%;
}
.part5 table input[type="date"]{
    padding: 11px;
}
.part5 table button{
    padding: 15px 15px;
    background-color: orange;
    border: 0px;width: 150px;
}
/* PART6 STARTS */
.part6{
    background-color: rgb(240, 236, 233);
    padding: 30px 110px;
    color: #2e2c2c;
    width: 100%;
}
.part6 .b1{
    font-size: 24px;
    padding-bottom: 5px;
    text-align: center;
}
.part6 .b2{
    font-size: 17px;
    padding: 20px 200px ;
    text-align: center;
}
.dd{
    display: flex;
    padding: 3px;
    justify-content: center;
}
.pp1{padding: 6px 20px;}
.part6 hr{margin: 6px 20px;}
.pp2{font-size: 20px;padding: 6px 20px;}
.pp3{width:330px;padding: 6px 20px;}
.part6 .dd img{width: 190px;height: 180px;}
/* FOOTER STARTS */
footer{
    background:linear-gradient(rgb(0,0,0,0.91),rgb(0,0,0,0.91)),url(../img/departure.jpeg);
    font-size: 14px;
    width: 100%;
    height: auto;
    background-size: 100% 100%;
}
.list{
    display: flex;
    color: #fff;
    padding: 30px 100px;
    justify-content: center;}
footer .list ul{
    list-style: none;
    padding-right: 70px;
}
.list ul li{padding: 3px;}
g{color: #8b8889;}
footer .end{
    width: 100%;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    }
footer .text{padding-left: 0px;}
footer .end .done{padding-left: 15px;}
.end ul{
    list-style: none;
    display: flex;
    font-size: 17px;
    justify-content: center !important;
}
.end ul li{
    padding-top: 9px;
    padding-left: 14px;
} 


/* RESPONSIVE DIMENTIONS------------------------------------------------------------------------------------------- */
@media screen and (max-width:991px){
    .navbar {
        font-size: 15px;    }
    .navbar #nav{
        display: none;
    }
    .navbar ul{
        margin-left: 10px;
    }
    .navbar ul li{
        margin: 0px auto;
    }
    .ul2{
      float: inline-end !important;
      padding-left: 0px;
    }
    .ul2 li{
        padding-left: 10px;
    }
    .banner{
        background: linear-gradient(hsla(133, 52%, 34%, 0.2),rgba(55, 34, 75, 0.5)),url(../img/banner3.gif);
        background-size: 100% 100%; 
    }
    
    .banner .content1{
        width: 100%;
        display: contents;
        color: #fff;
        text-align: center;
        background-color: hsl(0, 0%, 100%,0.6) !important;
    }
    .banner .content1 .heading{font-size: 36px;}
    .banner .content1 .subheading{font-size: 25px;font-weight: 500 !important;}
    .banner .content1 .head{
        padding: 10px 0px;
        padding-bottom: 20px;
        border-radius: 0px 0px 50px 0px;
        position: relative;
        width: 95%;
        color: black;
    }
  
    .banner .content2 {
        margin-top: 9px !important;
        width:700px ;
        background-color: hsl(300, 78%, 18%,0.5);
        display: flex;
        padding: 17px;
        border-radius: 9px;
    }
    
    .banner .content2 .searchForm input{
        padding: 10px;
        width:163px;
        margin: 3px 0px;
        background-color: hsl(0, 0%, 100%,0.8);
        border: 0px;
        border-radius: 2px;
        display: inline-flex;
     }
     .banner .content2 .searchForm input:hover{
        background-color: #fff;
     }
     .banner .content2 .searchForm input::placeholder{
        color: #1b1a1a;
     }
    .banner .content2 .searchForm .passanger{
        padding: 10px;
        width: 99.8%;
        margin: 0.3px 0px;
        background-color: hsl(0, 0%, 100%,0.7);
        border: 0px;
        border-radius: 2px;
        background-color: hsl(0, 0%, 100%,0.8);
     }
     .banner .content2 .searchForm .passanger:hover{
        background-color: hsl(0, 0%, 100%) !important;
     }
    .banner .content2:hover{
        background-color: hsla(283, 78%, 18%, 0.7);
    }
    #tripicon{display: none;}
    .banner .content2 form .searchForm .lastrow{
        display: flex;
        font-size: 14px;
        margin-top: 6px;
    }
    .banner .content2 form .searchForm .lastrow .span{
        margin-top: 9px;
        margin-left: 6px;
    }
    .banner .content2 form .searchForm .lastrow select{
        font-size: 13.7px !important;
        margin-top: 6px;
    }
    .banner .content2 .lastrow .trip, .ticket{
        border-bottom: 0px ;
        padding-right: 3px;
     }
    #linker{
        display: none;
    }
    .banner .content2 .search{
       display: none;
    }
    .banner .content2 .search1:hover{
        background-color: hsl(255, 38%, 49%,0.7) !important;
    }
    .search1{
        display: block !important;
        background-color: hsla(340, 83%, 47%) !important;
        border-radius: 2px;
        padding:10px;
        cursor: pointer;
        width: 100%;
        margin-top: 3px;
        text-align: center !important;
            }
    
    .search1 a{color: #fff;}
    .part2{
        background: linear-gradient(rgba(0, 0, 0, 0.7),rgb(0,0,0,0.1)),url(../img/road2.jpg);
        width: 100%;
        background-size: 100% 100%;
        height: auto;
        padding: 30px 0px !important;
    }
    .part2 .datas{
        display: grid;
        grid-template-columns: auto auto auto;
        gap:6px !important;
    }
    .block{margin: 30px 12px 0px 12px !important;}

    .part3{
        width: 100%;
        height: auto;
        text-align: center !important;
        
    }
    .part3 .data1 {display: none;}
    .part3 .data2{
        display: flex;
        justify-content: center;
        padding: 13px;
    }
    .part3 .data2 .d{
        font-size: 16px;
        padding: 15px;
        float: none;
        letter-spacing: 2px;
    }
    .part3 .d1{
        font-size: 16px;
        padding: 10px;
        float: none;
        width: 250px;
        line-height: 21px;
        letter-spacing: 1px;
    }
    .part3 .d input[type="text"]{
        padding: 6px;
        margin: 6px 0px;
        margin-top: 25px;
        background: transparent;
        border: 2px solid white;
        width: 100%;
        color: #fff;
        font-size: 14px;
        opacity: 85%;
    }
    .part3 .d ::placeholder{
        color: #fff;
        font-size: 14px;
    }
    .part3 .d button{
        width: 100%;
        padding: 6px;
        border: 2px solid #fff;
        opacity: 95%;
        margin: 6px 0px;
    }
    .part3 .d button:hover{
        background-color: #654dad;
        border: 2px solid #654dad;
        color: #fff;
    }
    .part4{
        height: auto;
        width: 100%;
        padding: 0px 0px;
        background:#33233d;
        background-size: 150% 100%;}
    .part4 .datas{display: none;}
    .part4 .marquee{
        display: flex;
        width: 100% !important;
        cursor: pointer;
        }
    .part4 .dots{
        display: block !important;
        cursor: pointer;}
    .part4 table{
        width: 100%;
        height: auto;
        border-spacing: 36px ;
    }
    .part4 table td{
        background-color: #ffffff;
        padding: 3px 3px 6px 3px;
        text-align: left;
        border-radius: 3px;
        vertical-align: top;
        text-wrap: wrap;
        color: #1b1a1a;
    }
   .part5{
    display: none;
   }
   .part5a{
    display: block !important;
    width: 100%;
    height: auto;
    background-color: #654dad;
    padding-bottom: 30px;
    text-align: center;   
 }
    .part5a .container {
        text-align: center;
        color: #fff;
        font-size: 19px;
        letter-spacing: 1px;
        padding: 24px 0px;   
    }
    .part5a .container .q2{
        padding-bottom: 12px;
    }
    .part5a table{
        width: 100%;
        padding: 0px 26px;  
    }
    .part5a table td input{
        padding: 12px 0px;
        width: 60%;
        border:none;
        margin:3px 0px;
        border-radius: 3px ;   
    }
    .part5a table td input::placeholder{
        padding-left: 20px;
    }
    .part5a table td select{
        width: 60% !important;
        border-radius: 3px ;   
    }
    .part5a table td button{
        padding: 12px 0px;
        border: none;
        width: 60%;
        background-color: orange;
        margin-top: 2px;
        border-radius: 3px ;   
    }
    .part5a table td button:hover{
       cursor: pointer; 
       color: #fff;  }
    .part6 .b2{
        padding: 10px 0px !important;
        margin: 0px auto;      
        width: 86%;}
    .part6 .con1,.con2{padding-left: 9px;}
    .pp1{padding: 3px 0px;}
    .pp2{
        font-size: 15px;
        padding: 3px 0px;}
    .pp3{
        font-size: 15px;
        padding: 3px 0px;
        width: 200px !important;}
    .part6 .dd .dd1 img{
        width: 180px !important;
        height: 170px !important;}
    .part6 .dd .dd2 img{
        width: 180px !important;
        height: 170px !important;}
    footer{
        width: 100%;
        height: auto;
        background:linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)),url(../img/departure1.jpeg);
        background-size: 100% 100%;
    }
 
    footer .list ul{
        padding-right: 10px;
    }
    footer .list{
        padding: 30px 30px;
        justify-content: left !important;
    }
    footer .end .text .listend{
       display: block;
    }
    footer .end img{display: none;}
    footer .end .text .listend li{
        background-color: hsl(340, 1%, 54%,0.3);
    }
    footer .end{
        display: block;
        text-align: left;
    }
    footer .end .text .done{
        width: 100%;
        height: auto;
    }
    footer .end .text .iconlist{
        margin-left: 0px !important;
        margin: 10px 0px;
        padding-bottom: 6px;
    }
}
/* ------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:790px){
.banner .content2 {
        margin-top: 25px;
        width:373px ; 
    	}
.banner .content2 .searchForm input{
        width:100%;
        display:block;
     }
.banner .content2 .searchForm .passanger{
        padding: 10px;
        width: 100%;
     }
.banner .content2 form .searchForm .lastrow{
        font-size: 13.5px;
     }
.banner .content2 form .searchForm .lastrow{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 3px;
        font-size: 13.5px;
        margin-top: 6px;
    }
    .part6{
        width:100%;
        height:auto;
        padding: 30px 10px !important;
       }
    .part6 .b1{text-align: center;}
  
    .part6 .dd{
        padding: 12px 0px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 2;
        gap: 15px;
    }
    .part6 hr {
        margin: 6px 0px !important;
    }
    .part6 .dd .dd1{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .part6 .dd .con1{
        
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .part6 .dd .dd2{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .part6 .dd .con2{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .pp1{padding: 3px 0px;}
    .pp2{font-size: 15px;padding: 3px 0px;}
    .pp3{font-size: 15px;padding: 3px 0px;width: 200px !important;}

    footer .list{
        padding: 30px ;
        justify-content: left !important;
        display: grid;
        row-gap: 10px;
        grid-template-columns: 2;
        grid-template-rows: 2;
    }
    footer .list .list1{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }  
    footer .list .list2{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    footer .list .list3{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    footer .list .list4{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

@media screen and (max-width:600px){

    .part3 .d1{
        font-size: 16px;
        padding: 3px;
        float: none;
        width: 250px;
        line-height: normal;
        letter-spacing: normal;
    }
    .pp2{font-size: 16px;}
    .pp3{
        font-size: 15px;
        width: 270px;
    }
}
@media screen and (max-width:550px){
    .part2{
        background:linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)),url(../img/road.jpg);
        width: 100%;
        background-size: 100% 100%;
        height: auto;
        padding: 30px 0px !important;
    }
    .part2 .datas{
        display: grid;
        grid-template-columns: auto  auto;
        gap:10px;
    }
    .part3 .d1{
        font-size: 15.5px !important;
        padding: 3px;
        float: none;
        width: 250px;
        line-height: normal;
        letter-spacing: normal;
    }
    .part5a table td select{
        width: 100% !important;
    }
    .part5a table td input{
        padding: 12px 0px;
        width: 100%;
        border:none;
        margin:3px 0px;
    }
    .part5a table td button{
        padding: 12px 0px;
        border: none;
        width: 100%;
        background-color: orange;
        margin-top: 2px;
    }
    footer .list ul{
        padding-right: 3px;
        font-size: 13px;
    }
    footer .list{
        padding: 10px ;}
}
@media screen and (max-width:450px) {
    footer .list ul{
        padding-right: 2px;
        font-size: 12.5px;
    }
    
}
@media screen and (max-width:460px) {
    .part3 .d1{
        font-size: 14.5px !important;
    }
    

}
@media screen and (max-width:394px) {
    .part3 .d1{
        font-size: 14px !important;
    }
}


.date2,#purpose2,.search2,.part5a{display: none;}
.lastrow2,.datas1,.marquee,.data2,.search1{display: none;}
.part4 .dots{display: none;}